.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3011px;
}

.u-section-1 .u-shape-1 {
  width: 1080px;
  height: 576px;
  background-image: none;
  margin: 85px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 435px;
  font-size: 4.5rem;
  margin: -541px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 22px 73px 0;
}

.u-section-1 .u-custom-html-1 {
  min-height: 600px;
  height: auto;
  width: 1106px;
  margin: 179px auto 0;
}

.u-section-1 .u-custom-html-2 {
  min-height: 655px;
  height: auto;
  width: 1106px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  font-weight: 700;
  width: 435px;
  margin: 86px auto 0;
}

.u-section-1 .u-image-1 {
  width: 336px;
  height: 274px;
  margin: 139px 0 0 auto;
}

.u-section-1 .u-image-2 {
  width: 375px;
  height: 274px;
  margin: -274px 353px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 397px;
  height: 274px;
  margin: -274px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 285px;
  height: 57px;
  margin: 15px auto 0 818px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -51px 40px 0 818px;
}

.u-section-1 .u-shape-3 {
  width: 270px;
  height: 51px;
  margin: -53px auto 0 465px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -48px 405px 0 465px;
}

.u-section-1 .u-shape-4 {
  width: 288px;
  height: 51px;
  margin: -54px auto 0 55px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -50px 798px 0 55px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 89px 30px 38px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 570px;
    margin-top: 355px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -739px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -38px;
    margin-right: 0;
    margin-left: 149px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 940px;
    margin-top: 744px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 570px;
    margin-top: -1382px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 636px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5014px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 743px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 1022px;
    margin-left: 655px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -1801px;
    margin-right: 3px;
    margin-left: 758px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 2689px;
  }

  .u-section-1 .u-text-5 {
    width: 270px;
    margin-top: -1793px;
    margin-right: 205px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 668px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -772px;
    margin-right: 597px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -1249px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 259px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -643px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 114px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 345px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 435px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 538px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 450px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 450px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 377px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 182px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -566px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 86px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 165px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 255px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 358px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 270px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 197px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2946px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 296px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -680px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 54px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 248px;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 235px;
    margin-top: -248px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 1061px;
    margin-left: 55px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 158px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 70px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 70px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 52px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 52px;
  }
}.u-section-2 {
  background-image: url("images/L110111c-1600x11041.jpg");
  background-position: 50% 19.79%;
}

.u-section-2 .u-sheet-1 {
  min-height: 491px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 225px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 310px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 147px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 240px;
}

.u-section-3 .u-text-1 {
  font-size: 1.125rem;
  margin: 40px 0;
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 6245px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  width: 784px;
  margin: 56px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 876px;
  margin: 21px auto 0;
}

.u-section-4 .u-custom-html-1 {
  min-height: 622px;
  height: auto;
  width: 1084px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 2.25rem;
  width: 806px;
  margin: 47px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  width: 876px;
  margin: 28px auto 0;
}

.u-section-4 .u-custom-html-2 {
  min-height: 1084px;
  height: auto;
  width: 1084px;
  margin: 21px auto 0;
}

.u-section-4 .u-custom-html-3 {
  min-height: 571px;
  height: auto;
  width: 1084px;
  margin: 21px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  width: 876px;
  margin: 36px auto 0;
}

.u-section-4 .u-custom-html-4 {
  min-height: 1084px;
  height: auto;
  width: 1084px;
  margin: 77px auto 0;
}

.u-section-4 .u-custom-html-5 {
  min-height: 631px;
  height: auto;
  width: 1084px;
  margin: 77px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 94px 36px 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 52px 28px 56px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 282px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -107px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 118px;
  }

  .u-section-4 .u-custom-html-2 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-4 .u-custom-html-3 {
    width: 570px;
  }

  .u-section-4 .u-custom-html-4 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-4 .u-custom-html-5 {
    width: 940px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-4 .u-text-3 {
    width: 720px;
    margin-top: 5px;
  }

  .u-section-4 .u-text-4 {
    width: 720px;
    margin-top: 6px;
  }

  .u-section-4 .u-custom-html-2 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-4 .u-text-5 {
    width: 720px;
  }

  .u-section-4 .u-custom-html-4 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-4 .u-custom-html-5 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
    margin-top: 201px;
  }

  .u-section-4 .u-text-4 {
    width: 540px;
    margin-top: -247px;
  }

  .u-section-4 .u-custom-html-2 {
    width: 540px;
    margin-top: 78px;
    margin-left: 70px;
  }

  .u-section-4 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-4 .u-text-5 {
    width: 540px;
  }

  .u-section-4 .u-custom-html-4 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-4 .u-custom-html-5 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }

  .u-section-4 .u-text-4 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-2 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-4 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-4 .u-text-5 {
    width: 340px;
  }

  .u-section-4 .u-custom-html-4 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-4 .u-custom-html-5 {
    width: 340px;
  }
}.u-section-5 {
  background-image: url("images/shutting-down-coal-plants-spared-26610-american-lives-in-jus_ykz8.12001.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 538px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px 8px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 255px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 310px;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 54px 0;
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 12327px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  width: 879px;
  margin: 35px auto 0;
}

.u-section-7 .u-custom-html-1 {
  min-height: 974px;
  height: auto;
  width: 1084px;
  margin: 34px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  width: 844px;
  margin: 91px auto 0;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  width: 879px;
  margin: 41px auto 0;
}

.u-section-7 .u-custom-html-2 {
  min-height: 1084px;
  height: auto;
  width: 1084px;
  margin: 34px auto 0;
}

.u-section-7 .u-custom-html-3 {
  min-height: 1061px;
  height: auto;
  width: 1084px;
  margin: 59px auto 0;
}

.u-section-7 .u-custom-html-4 {
  min-height: 1010px;
  height: auto;
  width: 1084px;
  margin: 59px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 2.25rem;
  margin: 62px 39px 0;
}

.u-section-7 .u-text-6 {
  font-size: 1.125rem;
  width: 879px;
  margin: 53px auto 0;
}

.u-section-7 .u-custom-html-5 {
  min-height: 1304px;
  height: auto;
  width: 1084px;
  margin: 59px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 2.25rem;
  margin: 53px 39px 0;
}

.u-section-7 .u-text-8 {
  font-size: 1.125rem;
  width: 879px;
  margin: 34px auto 0;
}

.u-section-7 .u-custom-html-6 {
  min-height: 1144px;
  height: auto;
  width: 1084px;
  margin: 41px auto 0;
}

.u-section-7 .u-text-9 {
  font-size: 2.25rem;
  margin: 76px 39px 0;
}

.u-section-7 .u-text-10 {
  font-size: 1.125rem;
  width: 879px;
  margin: 31px auto 0;
}

.u-section-7 .u-custom-html-7 {
  min-height: 1115px;
  height: auto;
  width: 1084px;
  margin: 35px auto 0;
}

.u-section-7 .u-custom-html-8 {
  min-height: 625px;
  height: auto;
  width: 1084px;
  margin: 57px auto 0;
}

.u-section-7 .u-text-11 {
  font-size: 2.25rem;
  margin: 91px 39px 0;
}

.u-section-7 .u-text-12 {
  font-size: 1.125rem;
  width: 879px;
  margin: 49px auto 0;
}

.u-section-7 .u-text-13 {
  font-size: 1.125rem;
  margin: 74px 50px 0 28px;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 62px auto 60px 863px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-custom-html-1 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-7 .u-custom-html-3 {
    width: 940px;
  }

  .u-section-7 .u-custom-html-4 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-5 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-6 {
    width: 940px;
    margin-left: 470px;
  }

  .u-section-7 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-custom-html-7 {
    margin-left: 470px;
    width: 940px;
  }

  .u-section-7 .u-custom-html-8 {
    width: 908px;
  }

  .u-section-7 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 663px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-2 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-7 .u-text-3 {
    width: 720px;
  }

  .u-section-7 .u-text-4 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-7 .u-custom-html-3 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-4 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-7 .u-text-6 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-5 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-7 .u-text-8 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-6 {
    width: 720px;
    margin-left: 250px;
  }

  .u-section-7 .u-text-10 {
    width: 720px;
  }

  .u-section-7 .u-custom-html-7 {
    margin-left: 250px;
    width: 720px;
  }

  .u-section-7 .u-custom-html-8 {
    width: 720px;
  }

  .u-section-7 .u-text-12 {
    width: 720px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 443px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-3 {
    width: 540px;
  }

  .u-section-7 .u-text-4 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-7 .u-custom-html-3 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-4 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-6 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-5 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-8 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-6 {
    width: 540px;
    margin-left: 70px;
  }

  .u-section-7 .u-text-10 {
    width: 540px;
  }

  .u-section-7 .u-custom-html-7 {
    margin-left: 70px;
    width: 540px;
  }

  .u-section-7 .u-custom-html-8 {
    width: 540px;
  }

  .u-section-7 .u-text-12 {
    width: 540px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 263px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-2 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: 340px;
  }

  .u-section-7 .u-text-4 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-2 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-7 .u-custom-html-3 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-4 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-7 .u-text-6 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-5 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-7 .u-text-8 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-6 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-7 .u-text-10 {
    width: 340px;
  }

  .u-section-7 .u-custom-html-7 {
    margin-left: auto;
    width: 340px;
  }

  .u-section-7 .u-custom-html-8 {
    width: 340px;
  }

  .u-section-7 .u-text-12 {
    width: 340px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 63px;
  }
}.u-section-8 {
  background-image: url("images/OIPS300L4NI.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 193px;
}

.u-section-9 .u-text-1 {
  font-size: 1.125rem;
  margin: 41px 0;
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 3236px;
}

.u-section-10 .u-text-1 {
  font-size: 2.25rem;
  width: 797px;
  margin: 53px auto 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  width: 877px;
  margin: 31px auto 0;
}

.u-section-10 .u-custom-html-1 {
  min-height: 798px;
  height: auto;
  width: 1078px;
  margin: 53px auto 0;
}

.u-section-10 .u-custom-html-2 {
  min-height: 590px;
  height: auto;
  width: 1078px;
  margin: 53px auto 0;
}

.u-section-10 .u-text-3 {
  font-size: 2.25rem;
  margin: 99px 196px 0 148px;
}

.u-section-10 .u-text-4 {
  font-size: 1.125rem;
  width: 877px;
  margin: 79px auto 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 53px 31px 53px auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-custom-html-1 {
    margin-left: 470px;
    width: 940px;
  }

  .u-section-10 .u-custom-html-2 {
    width: 940px;
  }

  .u-section-10 .u-text-3 {
    width: 797px;
    margin-right: 95px;
    margin-left: 48px;
  }

  .u-section-10 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    width: 720px;
  }

  .u-section-10 .u-text-2 {
    width: 720px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: 250px;
    width: 720px;
  }

  .u-section-10 .u-custom-html-2 {
    width: 720px;
  }

  .u-section-10 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    width: 540px;
  }

  .u-section-10 .u-text-2 {
    width: 540px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: 70px;
    width: 540px;
  }

  .u-section-10 .u-custom-html-2 {
    width: 540px;
  }

  .u-section-10 .u-text-3 {
    width: 540px;
  }

  .u-section-10 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-text-1 {
    width: 340px;
  }

  .u-section-10 .u-text-2 {
    width: 340px;
  }

  .u-section-10 .u-custom-html-1 {
    margin-left: auto;
    width: 340px;
  }

  .u-section-10 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-10 .u-text-3 {
    width: 340px;
  }

  .u-section-10 .u-text-4 {
    width: 340px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1652px;
}

.u-section-11 .u-text-1 {
  font-size: 1.125rem;
  margin: 83px 26px 0;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  margin: 47px auto 0;
  padding: 28px 190px 29px 188px;
}

.u-section-11 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  text-decoration: underline !important;
  margin: 85px auto 0;
}

.u-section-11 .u-image-1 {
  width: 259px;
  height: 483px;
  margin: 33px auto 0 155px;
}

.u-section-11 .u-shape-1 {
  width: 566px;
  height: 372px;
  margin: -424px 30px 0 auto;
}

.u-section-11 .u-text-3 {
  font-size: 1.25rem;
  margin: -334px 56px 0 570px;
}

.u-section-11 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 123px auto 0 182px;
}

.u-section-11 .u-text-5 {
  font-size: 1.125rem;
  margin: 25px auto 0 182px;
}

.u-section-11 .u-shape-2 {
  width: 94px;
  height: 62px;
  margin: -45px auto 0 74px;
}

.u-section-11 .u-map-1 {
  width: 570px;
  height: 228px;
  margin: 39px auto 0;
}

.u-section-11 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 36px 14px 26px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-shape-1 {
    width: 470px;
  }

  .u-section-11 .u-text-3 {
    margin-right: -242px;
    margin-left: 426px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 150px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 150px;
  }

  .u-section-11 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-3 {
    margin-right: -185px;
    margin-left: 206px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 115px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 115px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-right: -139px;
    margin-left: 26px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 86px;
  }

  .u-section-11 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-1 {
    margin-left: 81px;
  }

  .u-section-11 .u-shape-1 {
    width: 340px;
  }

  .u-section-11 .u-text-3 {
    margin-right: -88px;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    margin-left: 54px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 54px;
  }

  .u-section-11 .u-map-1 {
    width: 340px;
  }
}.div.classtableauPlaceholder.idviz1640987856422.styleposition.relativenoscripta.hrefimg.alt.srcND47.ND6NGPWW547._rsspng.styleborder.none.anoscriptobject.classtableauViz.styledisplay.none.param.namehost_url.valuehttps3A2F2Fpublictableaucom2F.param.nameembed_code_version.value3.param.namepath.valueshared47.ND6NGPWW5.param.nametoolbar.valueyes.param.namestatic_image.valueND47.ND6NGPWW547.png.param.nameanimate_transition.valueyes.param.namedisplay_static_image.valueyes.param.namedisplay_spinner.valueyes.param.namedisplay_overlay.valueyes.param.namedisplay_count.valueyes.param.namelanguage.valuefr-FR.objectdiv.script.typetextjavascript.var.divElement.documentgetElementByIdviz1640987856422.var.vizElement.divElementgetElementsByTagNameobject0.vizElementstylewidth100.vizElementstyleheightdivElementoffsetWidth075.px.var.scriptElement.documentcreateElementscript.scriptElementsrc.https.publictableaucomjavascriptsapiviz_v1js.vizElementparentNodeinsertBeforescriptElement.vizElement.script {
}